<%- include('../partials/header') %>
<div class="container mt-3">
  <div class="row">
	<div class="col-sm-4">
<h2><%=title%></h2>
  	<h5></h5>
  	<div ><img src="/images/rahel.jfif" width=400px height=300px></div>
  	<p>“Welcome to my page.”</p>
  	<h3 class="mt-4">Sources</h3>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link active" href="https://rseyum-547ae.web.app/">Website</a>
    	</li>
  	</ul>
	</div>
	<div class="col-sm-8">
  	<h2>  </h2>
  	<h5>Explore Nature. </h5>
  	<div >
      <img src="images/hike.jpg" width=400px height=300px>
      <img src="images/cycle.jpg" width=400px height=300px>
    </div>
    <p> </p>
    <br>
    <br>
    <br>
  	
  
  	<h5>My Top Hobbies</h5
  	<div >
      <img src="images/swimming.jpg" width=400px height=300px>
      <img src="images/coding.jpg" width=400px height=300px>
    </div>
  	
  	<p</p>
    
<%- include('../partials/footer') %>